/* app css stylesheet */

#visible-area 
{
    width: 320px;
    height: 480px;
    
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
}


    
html, body 
{
    background-color: black;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
    min-width: 100%;
    min-height: 100%;
    
    width: 100%;
    height: 100%;
}

#wrapper
{
    width: inherit; 
    height: inherit;
}

.vertical-wrapper
{
    width: 100%;
    height: 100%;
    display: table;
}

.horizontal-wrapper
{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}



.screen
{
    width: inherit;
    height: inherit;
}

.basic
{
    background-color: gray;
}

.load
{
    background-color: black;
}


    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
    }





    .animate-enter 
    {
    -webkit-transition: 0.2s linear all 0.2s; /* Chrome */
    transition: 0.2s linear all 0.2s;
    opacity: 0;
    }
     
    .animate-enter.animate-enter-active 
    {
    opacity: 1;
    }
    
    
    
    .animate-leave 
    {
    -webkit-transition: 0.2s linear all; /* Chrome */
    transition: 0.2s linear all;
    opacity: 1;
    }
     
    .animate-leave.animate-leave-active 
    {
    opacity: 0;
    }