<div>
    This will be the Escave template.
        
    <!-- coisas a serem incluidas... -->
    <!-- link para TRADE... -->
    <!-- link para DESTINATION HUB... -->
    <!-- link para INGAME MENU... -->
    
    <!--
    <div>
        Click me: <input type="checkbox" ng-model="checked"><br/>
        Show: <span data-ng-animate="'fade'" ng-show="checked">I show up when you checkbox is checked?</span> 
        <br/>
        Hide: <span data-ng-animate="'fade'" ng-hide="checked">I hide when you checkbox is checked?</span>
    </div>
    -->
    <div>
        <div ng-animate="'fade'" class="animate" ng-cloak ng-hide="hide">WOLOLO</div> 
    </div>
    
</div>


