<div>
    <p>
        This will be the Profiles template.
    </p>
    
    <ul>
        <li ng-repeat="profile in profiles">
            <form ng-submit="click(profile.value)">
                <input ng-model="profileValue" type="hidden" value="wololo" />
                <input type="submit" value="{{profile.name}} : {{profile.value}}" />
            </form>
        </li>
    </ul>
    
    <a href="{{bottomButton.link}}">{{bottomButton.label}}</a>
    <br />
    <br />
    <a href="#/escave">GO TO ESCAVE</a>
</div>